<!DOCTYPE html>
<html>
<head>
  <title>Spine Rails3</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <script type="text/javascript" charset="utf-8">
    jQuery(function(){
      new Pages({el: $("#pages_slider")});
    });
  </script>
</head>
<body>
  <div id="pages">
    <div id="pages_slider">
      <div id="list" class="transitional"></div>
      <div id="edit" class="transitional"></div> 
    </div>
  </div>
</body>
</html>
